Se ha realizado un Registro - Check in a través de TurisTrans con la siguiente información:

<h3>Tarjeta de Registro / Check in Card</h3>

<table>
  <tr>
    <td width="300px"><b>Nombre / Name</b></td>
    <td>: <%= @_message["name"] %></td>
  </tr>
  <tr>
    <td width="300px"><b>Apellido / Surname</b></td>
    <td>: <%= @_message["surname"] %></td>
  </tr>
  <tr>
    <td width="300px"><b>Pasaporte / Passport</b></td>
    <td>: <%= @_message["passport"] %></td>
  </tr>
  <tr>
    <td width="300px"><b>Dirección / Address</b></td>
    <td>: <%= @_message["address"] %></td>
  </tr>
  <tr>
    <td width="300px"><b>Ciudad / City</b></td>
    <td>: <%= @_message["city"] %></td>
  </tr>
  <tr>
    <td width="300px"><b>País / Country</b></td>
    <td>: <%= @_message["country"] %></td>
  </tr>
  <tr>
    <td width="300px"><b>Nacionalidad / Nationality</b></td>
    <td>: <%= @_message["nationality"] %></td>
  </tr>
  <tr>
    <td width="300px"><b>Correo / Email</b></td>
    <td>: <%= @_message["email"] %></td>
  </tr>
  <tr>
    <td width="300px"><b>Teléfono / Phone</b></td>
    <td>: <%= @_message["phone"] %></td>
  </tr>
  <tr>
    <td width="300px"><b>Fecha de llegada / Arrival date</b></td>
    <td>: <%= @_message["arrival_date"] %></td>
  </tr>
  <tr>
    <td width="300px"><b>Fecha de salida / Departure date</b></td>
    <td>: <%= @_message["departure_date"] %></td>
  </tr>
  <tr>
    <td width="300px"><b>Habitación / Room</b></td>
    <td>: </td>
  </tr>
  <tr>
    <td width="300px"><b>Folio / folio</b></td>
    <td>: <%= @_message["folio"] %></td>
  </tr>
  <tr>
    <td width="300px"><b>Calificación / Rate</b></td>
    <td>: <%= @_message["rate"] %></td>
  </tr>
</table>

<br />
<br />

<table>
  <tr>
    <td width="300px"><b>Firma / Signature</b></td>
    <td>: ___________________________</td>
  </tr>
</table>

<br />
<br />

TurisTrans Limitada
